body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('Alley.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8 , 0%); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
    text-align: center;
    margin: 10px;
}

.logo {
    background-color: rgb(7 7 7 / 50%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #fff;
    font-size: 48px;
}

form {
    margin: 0 auto;
    max-width: 300px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    background-color: #596D48;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 15px;
    margin-top: 10px;
}

button:last-child {
    margin-right: 0; 
}

button:hover {
    background-color: #4C5C3D;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

footer a[href="https://twitter.com/FullTechFlowCEO"] {
    text-decoration: underline; 
    color: white;
}

footer a[href="https://www.linkedin.com/in/ignacio-manuel-castañeda-acuña-1a4b07243"] {
    text-decoration: underline;
    color: white; 
}
